# Required Python packages for processing and analysis of images
# and metadata captured with the Insect Detect DIY camera trap
# Docs: https://maxsitt.github.io/insect-detect-docs/

# Install the required packages with:
# python.exe -m pip install -r requirements.txt

# OR use the Python Launcher for Windows with:
# py -m pip install -r requirements.txt

pandas
matplotlib
distinctipy
Pillow